<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="EmailHelperSection" type="Light.Notice.Demo.EmailHelperSection,Light.Notice.Demo" />
		<section name="noticeSetting" type="Light.Notice.NoticeSetting,Light.Notice" />
	</configSections>
	<EmailHelperSection Smtp_Account="22222" Smtp_Pwd="">
		<Smtp_Host1>iiiiii</Smtp_Host1>
	</EmailHelperSection>
	<noticeSetting>
		<noticeConfigs>
			<noticeConfig name="test1" status="EmailFirst">
				<emailConfig enable="true" senderName="monitor1" username="test@cmigate.com" password="monitor709394" host="smtp.exmail.qq.com" port="25" useSSL="false">
					<receivers>
						<receiver address="aquilahkj@163.com" name="aquila" />
						<receiver address="huangkunjie@cmigate.com" name="黄昆杰" />
					</receivers>
				</emailConfig>
				<remoteConfig enable="false" servicePath="http://abc.com/test.ashx" />
			</noticeConfig>
		</noticeConfigs>
	</noticeSetting>
</configuration>